<div class="card">
    <div class="row no-gutters">
        <div class="col-12 col-md-6 col-lg-4 background-image" style="background-image: url('{{this['List Image'] | asset_url}}');"></div>
        <div class="col-12 col-md-6 col-lg-8">
            <div class="card-body">
                <p class="tag"><i class="fas fa-calendar"></i>{{this['release_date'] | date: "%d %B %Y"}}</p>
                <h2><a href="/{{this['module_slug']}}/{{this['slug']}}" title="">{{this['name']}}</a></h2>
                <p>{{this['Description']}}</p>
                {%- include 'modules/siteglide_authors/get/get_item_author', author_layout: 'default/author', author_layout_type: 'list', author_id: this['Author'] -%}
                {% if this.category_array != blank %}
                    <p class="tag"><i class="fas fa-tag"></i>
                        {% for category in this.category_array %}
                            {% assign this_category = context.exports.categories.data[category] %}
                            <a href="{{context.headers.PATH_INFO}}?category={{category}}">{{this_category.name}}</a>{% unless forloop.last %}, {% endunless %}
                        {% endfor %}
                    </p>
                {% endif %} 
            </div>
        </div>
    </div>
</div>
