<section class="sg-blog sg-blog-details-02">
	<div class='container'>
		<div class='row'>
			<div class='col-12 col-md-8 offset-md-2'>
				<h1 class="mb-5">{{this['Title']}}</h1>
				<img class="w-100 rounded" src="{{this['Main Image'] | asset_url}}" alt="{{this['Main Image Alt']}}">
				<div class='row'>
					<div class="col-12 d-flex justify-content-between flex-wrap">
					  <span>
					    <p class="my-2"><i class="fas fa-calendar-day me-2 fa-fw"></i>{{this['release_date'] | date: "%d %B %Y"}}</p>
					    {% if this.category_array != blank %}
								<p class="my-2"><i class="fas fa-tags me-2 fa-fw"></i>{% for category in this.category_array %}{% assign this_category = context.exports.categories.data[category] %}<a href="/blog?category={{category}}">{{this_category.name}}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}
								</p>
							{% endif %}
					  </span>
					  {%- include 'modules/siteglide_authors/get/get_item_author', author_layout: 'sg-blog-02/author', author_layout_type: 'detail', author_id: this['Author'] -%}
				  </div>
				</div>
				<div class="my-5">{{this['Content']}}</div>
				{%- include 'modules/siteglide_authors/get/get_item_author', author_layout: 'sg-blog-02/author', author_layout_type: 'footer', author_id: this['Author'] -%}
			</div>
		</div>
	</div>
</section>