<div class="row no-gutters mb-4">
	<div class="col-12">
		<h4>Archive by Years</h4>
		<ul class="list-unstyled">
			{% for year in blog_archive_years %}
				<li><strong>{{year.start | date: "%Y"}}</strong></li>
				<ul class="list-unstyled mb-2">
					{% assign months_by_year = blog_archive_months | group_by: "year" %}
					{% for month in months_by_year[year.start] %}
						<li><a href="{{context.location.pathname}}?range_gte={{month.start}}&range_lt={{month.end}}&range_type=month" title="{{month.start | date: "%b" }}">{{month.start | date: "%b" }}</a></li>
					{% endfor %}
				</ul>
			{% endfor %}
		</ul>
	</div>
</div>
<div class="row no-gutters mb-4">
	<div class="col-12">
		<h4>Search by Date</h4>
		<form title="Search Blog by Date" id="blog-archive-search">
			<div class="mb-3">
				<label class="w-100" for="range_gt">Start Date</label>
				<input data-sg-blog="start-date" id="range_gt" name="range_gt" type="date" class="form-control border-0">
			</div>
			<div class="mb-3">
				<label class="w-100" for="range_gt">End Date</label>
				<input data-sg-blog="end-date" id="range_lte" name="range_lte" type="date" class="form-control border-0">
			</div>
			<div class="mb-3">
				<input value="Search" class="btn btn-primary sg-btn sg-btn-primary btn-sm sg-btn-sm px-4 py-1" type="submit" onclick="s_blog_date_search(s_blog_date_search_error)">
			</div>
		</form>
		{% comment %}Add your custom error message here- it can be renamed by changing its name in the argument for the s_blog_date_search function and in the definition below.{% endcomment %}
		<script>
			function s_blog_date_search_error() {
				alert("Please enter valid dates before searching.");
			}
		</script>
	</div>
</div>