{%- comment -%} If this item has children, output the item, and then go get its children {%- endcomment -%}
{%- if this['is_parent'] -%}
	<li {% if this['link_class'] %} class="{{this['link_class']}}" {%- endif -%}>
		<a href="{{this['link_url']}}"{% if this['link_target'] %} target="{{this['link_target']}}"{% endif %}>{{this['link_name']}}</a>
		{%- comment -%} Wrap children in <ul>, set the next level, and then get the children {%- endcomment -%}
		<ul>
			{%- assign _next_level = _level | plus: 1 -%}
			{%- include 'modules/siteglide_menu/get/get_items', level: _next_level, parent_id: this['forced_id'], item_layout: 'item' -%}
		</ul>
	</li>
{%- comment -%} Else just output the item by itself {%- endcomment -%}
{%- else -%}
	<li {% if this['link_class'] %} class="{{this['link_class']}}" {%- endif -%}>
		<a href="{{this['link_url']}}"{% if this['link_target'] %} target="{{this['link_target']}}"{% endif %}>{{this['link_name']}}</a>
	</li>
{%- endif -%}