<div class="sectionPadding">
	<div class="container">
		<div class="row text-center justify-content-center">
			<div class="col-12 col-md-7">
				<h2>Blog</h2>
				<h4>Submit a new item</h4>
			</div>
		</div>
		<div class="row justify-content-center pt-4">
			<div class="col-12 col-md-7">
				{% form -%}
					<div class="row mt-4">
						<div class="col">
							<label for="name">Name</label>
							<input class="form-control required" name="{{ form_builder.fields.properties.name.name }}" value="{{this.name}}" type="text">
						</div>
					</div>
					<div class="row mt-4 input_text">
						<div class="col">
							<label for="module_field_3_1">Title</label>
							<input class="form-control sg-form-control" name="{{ form_builder.fields.properties['module_field_3_1'].name }}" type="text">
						</div>
					</div>
					<div class="row mt-4 input_text">
						<div class="col">
							<label for="module_field_3_2">Subtitle</label>
							<input class="form-control sg-form-control" name="{{ form_builder.fields.properties['module_field_3_2'].name }}" type="text">
						</div>
					</div>
					<div class="row mt-4 input_text">
						<div class="col">
							<label for="module_field_3_3">Description</label>
							<input class="form-control sg-form-control" name="{{ form_builder.fields.properties['module_field_3_3'].name }}" type="text">
						</div>
					</div>
					<div class="row mt-4 datasource">
						<div class="col">
							<label for="module_field_3_4">Author</label>
							{%- include 'module', id: '6', sort_type: 'properties.name', collection: 'true' -%}
							<select class="" name="{{ form_builder.fields.properties['module_field_3_4'].name }}">
								{% for item in context.exports['module_6'].data.result.items -%}
									<option value="{{item.id}}">{{item.properties.name}}</option>
								{% endfor -%}
							</select>
						</div>
					</div>
					<div class="row mt-4 image">
						<div class="col">
							<label for="module_field_3_5">Main Image</label>
							<input class="form-control sg-form-control" name="{{ form_builder.fields.properties['module_field_3_5'].name }}" type="hidden">
							<input class="form-control sg-form-control" id="module_field_3_5_file" type="file" />
						</div>
					</div>
					<div class="row mt-4 input_text">
						<div class="col">
							<label for="module_field_3_6">Main Image Alt</label>
							<input class="form-control sg-form-control" name="{{ form_builder.fields.properties['module_field_3_6'].name }}" type="text">
						</div>
					</div>
					<div class="row mt-4 image">
						<div class="col">
							<label for="module_field_3_7">List Image</label>
							<input class="form-control sg-form-control" name="{{ form_builder.fields.properties['module_field_3_7'].name }}" type="hidden">
							<input class="form-control sg-form-control" id="module_field_3_7_file" type="file" />
						</div>
					</div>
					<div class="row mt-4 input_text">
						<div class="col">
							<label for="module_field_3_8">List Image Alt</label>
							<input class="form-control sg-form-control" name="{{ form_builder.fields.properties['module_field_3_8'].name }}" type="text">
						</div>
					</div>
					<div class="row mt-4 textarea">
						<div class="col">
							<label for="module_field_3_9">Content</label>
							<textarea class="form-control sg-form-control" name="{{ form_builder.fields.properties['module_field_3_9'].name }}" rows="5" cols="30"></textarea>
						</div>
					</div>

					<div class="row mt-4">
						<div class="col">
							<div class="form-error"></div>
							<button type="button" class="btn buttonAccent" onClick="s_form_submit_v2(this,'module_3')">Submit</button>
						</div>
					</div>
					<input class="form-control" name="{{ form_builder.fields.properties.enabled.name }}" value="{{_enabled}}" type="hidden">
					<input class="form-control" name="{{ form_builder.fields.properties.expiry_date.name }}" value="{{_expiry_date}}" type="hidden">
					<input class="form-control" name="{{ form_builder.fields.properties.release_date.name }}" value="{{_release_date}}" type="hidden">
					<input id="s_redirect" value="" type="hidden">
					<input class="form-control upload_dir" value="{{_upload_dir}}" type="hidden">
					<input class="form-control" name="{{ form_builder.fields.properties.slug.name }}" value="{{_slug}}" type="hidden">
				{% endform -%}
			</div>
		</div>
	</div>
</div>